.app-container{

display: flex;
}
.content{
  width: 100%;
}
.sidebar{
  min-height: 800px;
}
.post-card{
  margin: 20px 50px;
  min-width: 30rem;
}
.hastag{
  margin: 0px,4px;
}
.create-post{
  width: 80%;
  margin-top: 50px;
  margin-left: 10%;
}
.welcome-message{
  margin: 100px 0;
}
/* .loading-spinner{
  justify-content: center;
} */